<h1 class="font-square uppercase p-5 text-4xl">Pas team aan</h1>
<mat-card id="card">
    <mat-card-content>
        <form [formGroup]="editTeamForm" (ngSubmit)="onSubmit()" class="flex flex-col" [style.width.px]=700>
            <div>
                <mat-form-field>
                    <mat-label>Naam</mat-label>
                    <input matInput type="text" formControlName="name" [(ngModel)]="team.name" />
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill" class='formfield'>
                <mat-label>Speler 1</mat-label>
                <mat-select [(value)]="selectedUser1" name="user1">
                    <mat-option *ngFor="let user of users" [value]="user" [(ngModel)]="team.player1">
                        {{user.firstName || "User1 firstName"}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class='formfield' *ngIf="isChecked">
                <mat-label>Speler 2</mat-label>
                <mat-select [(value)]="selectedUser2" name="user2">
                    <mat-option *ngFor="let user of users" [value]="user" [(ngModel)]="team.player2">
                        {{user.firstName || "User2 firstName"}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button class="button px-3 py-2 bg-primary" mat-raised-button type="submit">Pas team aan</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>