<h1 class="font-square uppercase p-5 text-4xl">Teams</h1>
<div class="tableField">
  <mat-card id="card">
    <button class="addButton bg-primary px-3 py-2" (click)="addTeam()" mat-raised-button>ADD</button>

    <div class="mat-elevation-z8 mt-4">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="ploeg name">
          <th class="w-3/12" mat-header-cell *matHeaderCellDef mat-sort-header> ploeg naam </th>
          <td mat-cell *matCellDef="let row"> {{row.ploeg.name}} </td>
        </ng-container>

        <ng-container matColumnDef="team name">
          <th class="w-3/12" mat-header-cell *matHeaderCellDef mat-sort-header> team naam </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="player1 name">
          <th class="w-3/12" mat-header-cell *matHeaderCellDef mat-sort-header> speler 1 naam </th>
          <td mat-cell *matCellDef="let row"> {{row.player1.firstName}} </td>
        </ng-container>


        <ng-container matColumnDef="player2 name">
          <th class="w-3/12" mat-header-cell *matHeaderCellDef mat-sort-header> speler 2 naam </th>
          <td mat-cell *matCellDef="let row"> {{!!row.player2 ? row.player2.firstName: " " }} </td>
        </ng-container>


        <ng-container matColumnDef="deleteTeam">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <button (click)="editTeam(row.teamID)" class="EditButton bg-primary px-3 py-2"
              mat-raised-button>EDIT</button>
            <button (click)="deleteTeam(row.teamID)" class="bg-primary px-3 py-2" mat-raised-button>DELETE</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>