<div class="tableField">
    <mat-card id="card">
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <!-- First name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
          </ng-container>
  
          <!-- Last name Column -->
          <ng-container matColumnDef="team1name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team 1 </th>
            <td mat-cell *matCellDef="let row"> {{row.team1.name}} </td>
          </ng-container>
  
          <!-- Last name Column -->
          <ng-container matColumnDef="team2name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team 2 </th>
            <td mat-cell *matCellDef="let row"> {{row.team2.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="winnaar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Winnaars </th>
              <td mat-cell *matCellDef="let row"> {{!!row.winnaar ? row.winnaar.name :  "Geen winnaar"}}</td>
          </ng-container>
  
          <ng-container matColumnDef="tournooi">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tournooi </th>
              <td mat-cell *matCellDef="let row"> {{row.tournooi.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="wedstrijdtype">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> wedstrijdtype </th>
              <td mat-cell *matCellDef="let row"> {{row.wedstrijdType.name}} </td>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>
  