<h1 class="font-square uppercase p-5 text-4xl">Voeg een tournooi toe</h1>
<mat-card id="card">
    <mat-card-content>
        <form [formGroup]="addCompetitionForm" (ngSubmit)="onSubmit()" [style.width.px]=700 class="flex flex-col">

            <mat-form-field>
                <mat-label>Tournooi naam</mat-label>
                <input matInput type="text" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="fill" class='formfield'>
                <mat-label>Ploeg 1</mat-label>
                <mat-select [(value)]="selectedPloeg1">
                    <mat-option *ngFor="let ploeg of ploegen" [value]="ploeg">
                        {{ploeg.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class='formfield'>
                <mat-label>Ploeg 2</mat-label>
                <mat-select [(value)]="selectedPloeg2">
                    <mat-option *ngFor="let ploeg of ploegen" [value]="ploeg">
                        {{ploeg.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button class="button bg-primary px-3 py-2" mat-raised-button type="submit">Voeg ploeg toe</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>