<p>add-table works!</p>
<form [formGroup]="tableForm" (ngSubmit)="addTable()">
    <p>{{ tableForm.value | json}}</p>
    <p>Tafelnaam
    <mat-form-field>
    <input matInput type="text" formControlName="name" />
    </mat-form-field>
    </p>
    <br>
    <p>Tafelbeheerder: 
    <mat-form-field>
    <mat-select formControlName="userID">
        <mat-option *ngFor="let user of users" [value]="user.userID">{{user.firstName}}</mat-option>
    </mat-select>
    </mat-form-field>
    </p>
   <br>
    <p>kies een ploeg: 
    <mat-form-field>
    <mat-select formControlName="ploegID">
        <mat-option *ngFor="let ploeg of ploegen" [value]="ploeg.ploegID">{{ploeg.name}}</mat-option>
    </mat-select>
    </mat-form-field>
    </p>
    <p><button mat-raised-button color="primary" type="submit" [disabled]="!tableForm.valid || submitted">Aanmaken</button></p>
</form>


    