/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Noto Sans TC';
  src: local('Noto Sans TC'), url(./assets/fonts/NotoSansTC-Bold.otf);
  font-weight: bold;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), url(./assets/fonts/NotoSansTC-Regular.otf);
  }

  @font-face {
    font-family: 'Nova Square';
    src: local('Nova Square'), url(./assets/fonts/NovaSquare-Regular.ttf);
  }
@tailwind utilities;
