<div class="container mx-auto md:pt-16 grid grid-cols-1 md:grid-cols-2 gap-20">
    <app-match-card class="w-full"></app-match-card>
    <app-competition-card class="w-full"></app-competition-card>
    <app-tables-card class="w-full"></app-tables-card>
</div>
<div class="bg-gray-200 rounded-xl my-2" (click)="logout()">
    <div class="text-center border-b border-black">
        <h1 class="font-square uppercase p-5 text-4xl">Logout</h1>
    </div>
    <div class="p-2">
        <div class="text-xl uppercase">
            <ng-content></ng-content>
        </div>
    </div>
</div>