<div class="container mx-auto mt-16 flex justify-around flex-wrap">
    <div class="bg-gray-200 h-auto w-5/12 rounded-xl">
        <div class="text-center border-b border-black">
            <h1 class="font-square uppercase p-5 text-4xl">Upcoming Matches</h1>
        </div>
        <div id="matches" class="m-5 text-xl uppercase">
            <div class="grid grid-cols-3 font-sans p-3 pb-2 bg-white font-bold border-black border-b">
                <div class="">home</div>
                <div class="text-center">time</div>
                <div class="text-right">away</div>
            </div>
            <div class="grid grid-cols-3 font-sans p-3 bg-white">
                <div class="font-bold overflow-hidden truncate">fc de kamioenen</div>
                <div class="text-center">21/12 13:30</div>
                <div class="text-right overflow-hidden truncate">De Schellekens</div>
            </div>
            <div class="grid grid-cols-3 font-sans p-3 bg-white">
                <div class="overflow-hidden truncate">de spuiters</div>
                <div class="text-center">23/12 09:25</div>
                <div class="text-right font-bold overflow-hidden truncate">FC de kampioenen</div>
            </div>
            <div class="grid grid-cols-3 font-sans p-3 bg-white">
                <div class="overflow-hidden truncate">de schellekens</div>
                <div class="text-center">28/12 10:00</div>
                <div class="text-right font-bold overflow-hidden truncate">FC de kampioenen</div>
            </div>

            <div class="text-center mt-8"><a routerLink="/dashboard/matches" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Click here to see all matches</a></div>
        </div>
    </div>
    <div class="bg-gray-200 h-auto w-5/12 rounded-xl">
        <div class="text-center border-b border-black">
            <h1 class="font-square uppercase p-5 text-4xl">My Tables</h1>
        </div>
        <div id="tables" class="m-5 text-xl uppercase">
            <div class="grid grid-cols-2 font-sans p-3 pb-2 bg-white border-black border-b">
                <div class="font-bold">Name</div>
                <div class="pl-15">Location</div>
            </div>
            <div class="grid grid-cols-2 font-sans p-3 bg-white">
                <div class="font-bold">Refter tafel 2</div>
                <div class="">
                    <div>Grote straat 6</div>
                    <div>1234 De stad</div>
                </div>
            </div>
            <div class="grid grid-cols-2 font-sans p-3 bg-white">
                <div class="font-bold">Refter tafel 1</div>
                <div class="">
                    <div>Grote straat 6</div>
                    <div>1234 De stad</div>
                </div>
            </div>
            <div class="grid grid-cols-2 font-sans p-3 bg-white">
                <div class="font-bold">Kelder tafel</div>
                <div class="">
                    <div>Kleine baan 9</div>
                    <div>4321 het dorp</div>
                </div>
            </div>
        </div>
    </div>
</div>